body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #8ce19d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#char-counter {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(36, 138, 121, 0.2);
    width: 450px;
}

h1{
    color: rgb(64, 89, 64);
}

#input-field {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;
    font-family: 'Arial', sans-serif;
}


/* Additional styles for even smaller screens */
@media (max-width: 400px) {
    #input-field {
        font-size: 12px;
    }

    #char-counter {
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        margin: 0;
    }
}

/* Additional styles for mobile screens */
@media (max-width: 320px) {
    #input-field {
        font-size: 10px;
    }
}

#input-field:focus {
    border: 2px solid #007bff;
}

#counter {
    font-size: 14px;
    margin-top: 15px;
    color: #555;
    font-family: 'Arial', sans-serif;
}

#counter-max {
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
    font-family: 'Arial', sans-serif;
}

#counter-max.exceed {
    color: #f00;
    animation: pulse 0.5s infinite;
}

.alphabet {
    color: blue;
    font-family: 'Cursive', cursive;
}

.numeric {
    color: green;
    font-family: 'Courier New', monospace;
}

.symbol {
    color: purple;
    font-family: 'Comic Sans MS', cursive;
}

#clear-button {
    background-color: #f00;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    margin-top: 20px;
}
